.descriptionText {

}

.productPhotoContainer {
  width: 55%;
}

.productPhoto {
  width: 100%;
}

.productInformation {
  width: 45%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 105px;
}
