.root {
  border-radius: var(--radius-16);
  padding: 8px 12px;
  width: 102px;
  height: 168px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &_selected {
    border: 1px solid var(--orange-500);
  }

  &:hover {
    background-color: var(--black-300);

    .icon {
      fill: var(--black-300);
    }
  }
}

.icon {
  position: absolute;
  left: 80%;
  width: 20px;
  height: 20px;
  fill: #fff;
}

.photo {
  width: 80px;
  height: 80px;
}
